body { 

    background-image: url("../images/background-img.jpg"); 
    background-size: cover;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .container { 
      margin-top: 5vh;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }

  h1 { 
      font-size: 7vw;
      /* text-decoration: underline; */
      font-family: 'Noto Serif', serif;
      padding-bottom: 1%;
      text-shadow: -0.1vw 0 white, 0 0.1vw white, 0.1vw 0 white, 0 -0.1vw white;
  }

  #triviaGameHeader { 
     
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    
     
  }

  #msg { 
      font-size: 2.5vw;
  }

  #countDown { 
    font-size: 2.5vw;
    font-style: italic;
}

  button { 
      text-decoration: none;
      padding: 0 1vw 0 1vw;
      background-color: black;
      color: whitesmoke;
      font-size: 2.5vw;
      font-family: 'Noto Serif', serif;
  }

  #gifSpace { 
      width:  50%;
      margin-left: auto;
      margin-right: auto;
  }

 



@media screen and (max-width: 959px) {

 

    .container {width: 100%;
    }

    h1 { 
        font-size: 15vw;
    }
  
    button { 
        font-size: 9vw;
    }

    #msg { 
        font-size: 9vw;
    }
  
    #countDown { 
      font-size: 9vw;
  }

  #gifSpace { 
      width: 100%;
  }
  
    
      }
     

@media screen and (min-width: 960px) and (max-width: 1300px) {

  .container {width: 80%;}

  }

  @media screen and (min-width: 1301px){

    .container {width: 65%;}
  
    }


  