body { 

    background-image: url("../images/background-img.jpg"); 
    background-size: cover;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .container { 
      margin-top: 5vh;
      font-size: 3vh;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
  }

  h1 { 
      font-size: 7vw;
      text-decoration: underline;
      font-family: 'Noto Serif', serif;
      padding-bottom: 1%;
      text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }

  #triviaGameHeader { 
     
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
     
  }

  button { 
      text-decoration: none;
      padding: 0 1vw 0 1vw;
      background-color: black;
      color: whitesmoke;
      font-size: 4vw;
      font-family: 'Noto Serif', serif;
  }

  #gifSpace { 
      width:  50%;
      margin-left: auto;
      margin-right: auto;
  }

  #countDown { 
      font-size: 4vw;
  }



@media screen and (max-width: 959px) {

    .container {width: 100%;
    }
    
      }
     

@media screen and (min-width: 960px) and (max-width: 1300px) {

  .container {width: 80%;}

  }

  @media screen and (min-width: 1301px){

    .container {width: 65%;}
  
    }


  